<h1>Play: <%= @play.name %></h1>

<p>Description: <%= @play.description %></p>
<p><%= @play.name %> is in the following playbooks:</p>
<ul>
<% @play.playbooks.each do |pb| %>
  <li><%= pb.name %></li>
<% end %>
</ul>

<p><%= link_to "Edit Play", edit_user_play_path(current_user, @play) %></p>
<p><%= link_to "Delete Play", [current_user, @play], method: :delete, data: { confirm: "Are you sure you want to delete this play?" } %></p>
