<div class='row justify-content-center'>
  <div class='col-5'>
    <h1 class='display-22'>Edit Coach</h1>
    <%= render partial: 'shared/error_messages', locals: { item: @user } %>
<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label 'Name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label 'Email' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <%= f.fields_for :profile do |ff| %>
    <div class='form-group'>
      <%= ff.label 'Nickname' %>
      <%= ff.text_field :nickname, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= ff.label 'Role' %>
      <%= ff.text_field :role, class: 'form-control' %>
    </div>
  <% end %>
  <%= f.submit 'Update Coach', class: 'btn btn-primary' %>
<% end %>
  </div>
</div>
