<h1>Welcome, Coach.</h1>

<p>You Name: <%= @user.name %></p>
<p>Your email: <%= @user.email %></p>
<p>Your role: <%= @user.profile.role %></p>
<p>Your nickname: <%= @user.profile.nickname %></p>
<p><%= link_to "Edit Profile", edit_user_path(@user) %></p>

<h4>Upcoming Games</h3>
<% @user.games.upcoming.by_date.each do |game| %>
  <p><%= game.date %> | <%= game.opponent.name %> <%= game.opponent.mascot %> | <%= game.location %></p>
<% end %>
